// ==========================================================================
// Generic resets
// ==========================================================================

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

body, ul, h1, h2, h3, h4, h5, h6, p, ul, li {
  margin:0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6, p, span {
  font-weight: $normal;
}

ul {
  list-style-type: none;
}
