/** px ou em? **/
.is-animated {
  animation-duration: 0.9s;
  animation-fill-mode: both; }

@keyframes slideInLeft {
  from {
    transform: translate3d(-100%, 0, 0);
    opacity: 0; }
  50% {
    opacity: 1; }
  to {
    transform: translate3d(0, 0, 0); } }

.u-slideInLeft {
  animation-name: slideInLeft; }

@keyframes slideInLeftSmall {
  from {
    transform: translate3d(-25%, 0, 0);
    opacity: 0; }
  50% {
    opacity: 1; }
  to {
    transform: translate3d(0, 0, 0); } }

.u-slideInLeftSmall {
  animation-name: slideInLeftSmall; }

@keyframes slideInLeftUp {
  from {
    transform: translate3d(-400%, 400%, 0);
    opacity: 0; }
  50% {
    opacity: 1; }
  to {
    transform: translate3d(0, 0, 0); } }

.u-slideInLeftUp {
  animation-name: slideInLeftUp; }

@keyframes slideInRight {
  from {
    transform: translate3d(100%, 0, 0);
    opacity: 0; }
  50% {
    opacity: 1; }
  to {
    transform: translate3d(0, 0, 0); } }

.u-slideInRight {
  animation-name: slideInRight; }

@keyframes slideInRightSmall {
  from {
    transform: translate3d(25%, 0, 0);
    opacity: 0; }
  50% {
    opacity: 1; }
  to {
    transform: translate3d(0, 0, 0); } }

.u-slideInRightSmall {
  animation-name: slideInRightSmall; }

@keyframes slideInUp {
  from {
    transform: translate3d(0, 100%, 0);
    opacity: 0; }
  50% {
    opacity: 1; }
  to {
    transform: translate3d(0, 0, 0); } }

.u-slideInUp {
  animation-name: slideInUp; }

@keyframes slideInUpSmall {
  from {
    transform: translate3d(0, 50%, 0);
    opacity: 0; }
  50% {
    opacity: 1; }
  to {
    transform: translate3d(0, 0, 0); } }

.u-slideInUpSmall {
  animation-name: slideInUpSmall; }

@keyframes slideInDown {
  from {
    transform: translate3d(0, -100%, 0);
    opacity: 0; }
  50% {
    opacity: 1; }
  to {
    transform: translate3d(0, 0, 0); } }

.u-slideInDown {
  animation-name: slideInDown; }

@keyframes slideInDownSmall {
  from {
    transform: translate3d(0, -40%, 0);
    opacity: 0; }
  50% {
    opacity: 1; }
  to {
    transform: translate3d(0, 0, 0); } }

.u-slideInDownSmall {
  animation-name: slideInDownSmall; }

@keyframes slideInRightDown {
  from {
    transform: translate3d(75%, -75%, 0);
    opacity: 0; }
  50% {
    opacity: 1; }
  to {
    transform: translate3d(0, 0, 0); } }

.u-slideInRightDown {
  animation-name: slideInRightDown; }

@keyframes fadeInUpSmall {
  from {
    transform: translate3d(0, 50%, 0);
    opacity: 0; }
  to {
    transform: translate3d(0, 0, 0);
    opacity: 1; } }

.u-fadeInUpSmall {
  animation-name: fadeInUpSmall; }

@keyframes bounceIn {
  from,
  20%,
  40%,
  60%,
  80%,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  0% {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3); }
  20% {
    transform: scale3d(1.1, 1.1, 1.1); }
  40% {
    transform: scale3d(0.9, 0.9, 0.9); }
  60% {
    opacity: 1;
    transform: scale3d(1.03, 1.03, 1.03); }
  80% {
    transform: scale3d(0.97, 0.97, 0.97); }
  to {
    opacity: 1;
    transform: scale3d(1, 1, 1); } }

.u-bounceIn {
  animation-name: bounceIn; }

@keyframes zoomIn {
  from {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3); }
  50% {
    opacity: 1;
    transform: scale3d(1, 1, 1); } }

.u-zoomIn {
  animation-name: zoomIn; }

@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.u-fadeIn {
  animation-name: fadeIn; }

/*! normalize.css v3.0.2 | MIT License | git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Address styling not present in IE 8/9.
 */
mark {
  color: #000000;
  background: #ffff00; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
  color: inherit;
  /* 1 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  /* 3 */
  -webkit-appearance: button;
  /* 2 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-box-sizing: content-box;
  /* 2 */
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  -webkit-appearance: textfield;
  /* 1 */ }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
  border: 1px solid #c0c0c0; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  padding: 0;
  /* 2 */
  border: 0;
  /* 1 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-spacing: 0;
  border-collapse: collapse; }

td,
th {
  padding: 0; }

ul {
  margin: 0;
  padding: 0;
  list-style-type: none; }

html {
  box-sizing: border-box; }

*,
*:before,
*:after {
  box-sizing: inherit; }

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle; }

html {
  font-family: "Roboto", sans-serif;
  line-height: 1.7;
  background-color: #e9eef2;
  color: #151515; }
  @media (max-width: 699px) {
    html {
      font-size: 12px; } }
  @media (min-width: 700px) and (max-width: 999px) {
    html {
      font-size: 13px; } }
  @media (min-width: 1000px) and (max-width: 1599px) {
    html {
      font-size: 14px; } }
  @media (min-width: 1600px) {
    html {
      font-size: 16px; } }

body {
  max-height: 100vh;
  overflow: hidden; }

::selection {
  background: #4794c6;
  text-shadow: none;
  color: #ffffff; }

a {
  color: #4794c6;
  text-decoration: none; }
  a:hover {
    color: #4794c6;
    text-decoration: underline; }

/*
.o-text {
  margin-bottom: rem(55px);
}

.o-watch {
  @media (max-width: $to-small) {
    display: none;
  }

  @media (min-width: $from-small) {
    position: absolute;
  }

  @media (min-width: $from-small) and (max-width: $to-medium) {
    right: em(60px);
    bottom: em(420px);
  }

  @media (min-width: $from-medium) {
    right: em(550px);
    bottom: em(420px);
  }
}

.o-watch-image {
  @media (min-width: $from-small) {
    width: em(239px);
    height: em(450px);
  }
}

.o-watch-gif {
  position: absolute;
  top: em(92px);
  left: em(20px);
  width: em(195px);
  border-radius: em(25px);
}

.o-ipad {
  @media (max-width: $to-small) {
    display: none;
  }

  @media (min-width: $from-small) {
    position: absolute;
  }

  @media (min-width: $from-small) and (max-width: $to-medium) {
    right: rem(-349px);
    bottom: em(-260px);
  }

  @media (min-width: $from-medium) {
    right: 0;
    bottom: em(-260px);
  }
}

.o-ipad-image {
  @media (min-width: $from-small) {
    width: em(787px);
    height: em(612px);
  }
}

.o-ipad-gif {
  position: absolute;
  top: em(28px);
  left: em(81px);
  height: em(534px);
}

.o-iphone {
  position: absolute;

  @media (max-width: $to-small) {
    bottom: em(-112px);
    right: -15%;
  }

  @media (min-width: $from-small) and (max-width: $to-medium) {
    right: em(360px);
    bottom: em(-112px);
  }

  @media (min-width: $from-medium) {
    bottom: em(-112px);
    right: em(870px);
  }
}

.o-iphone-image {
  width: em(397px);
  height: em(812px);
}

.o-iphone-gif {
  position: absolute;
  width: em(349px);
  top: em(89px);
  left: em(27px);
}

.o-overlay {
  @media (max-width: $to-small) {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: $black;
    opacity: 0;
    visibility: hidden;
    z-index: 700;
    transition-property: opacity, visibility;
    transition-duration: $speed-slow, 0s;
    transition-delay: 0s, $speed-slow;

    .has-nav-open & {
      opacity: 0.5;
      visibility: visible;
      transition-delay: 0s;
    }
  }
}

.js-wow {
  visibility: hidden;
}*/
.o-button {
  width: 4em;
  height: 4em;
  border: none;
  border-radius: 50%;
  color: #000000;
  background-color: #ffffff; }

.cases-header {
  height: 155px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 8em;
  background-color: #ffffff; }

.cases-header__icon {
  width: 25px; }

@media screen and (max-width: 999px) {
  .cases-header {
    height: 6em;
    padding: 0 3em; }
  .cases-header__case-indicator {
    display: none; } }

@media screen and (min-width: 1000px) {
  .cases-header__my-cases {
    display: none; } }

.content {
  width: calc(100% - 350px);
  height: 100vh;
  margin-left: 350px;
  background-color: #e9eef2; }

@media screen and (max-width: 999px) {
  .content {
    width: 100%;
    margin-left: 0; } }

.mobile-header {
  display: none; }

.mobile-header__burger {
  position: absolute;
  top: 2em;
  left: 2em;
  background-color: #4794c6;
  color: #ffffff; }

.mobile-header__logo {
  height: 8em;
  margin: 0 auto;
  display: block; }

@media screen and (max-width: 999px) {
  .mobile-header {
    display: block;
    height: 8em; } }

.nav-main {
  width: 20.625rem;
  height: 100vh;
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: 1;
  background-color: white;
  box-shadow: 2px 0px 20px rgba(0, 0, 0, 0.2); }

.nav-main__header {
  height: 155px; }

.nav-main__logo {
  width: auto;
  height: 100%;
  display: block;
  margin: 0 auto; }

.nav-main__item {
  width: 100%;
  display: block;
  border-top: 1px solid #f1f3f5; }

.nav-main__link {
  width: 100%;
  display: block;
  color: #000000;
  font-weight: 500;
  padding: 1.25rem 2.1875rem;
  transition: background-color 0.2s; }
  .nav-main__link:hover {
    color: #000000;
    text-decoration: none;
    background-color: #e9eef2; }
  .nav-main__link:after {
    content: "";
    display: table;
    clear: both; }

.nav-main__icon {
  margin-right: 15px; }

.nav-main__indicator {
  float: right; }
  .nav-main__indicator.-none {
    color: #c0c0c0; }
  .nav-main__indicator.-new {
    color: #cf2f52; }
    .nav-main__indicator.-new::after {
      background-color: #cf2f52; }
  .nav-main__indicator::after {
    content: "";
    display: inline-block;
    min-width: 7px;
    min-height: 7px;
    position: relative;
    left: 8px;
    bottom: 2px;
    border-radius: 50%; }

@media screen and (max-width: 1080px) {
  .nav {
    display: none; } }

.profile-btn {
  position: absolute;
  top: 2em;
  right: 2em;
  background-color: #4794c6;
  color: #ffffff; }

.quick-actions__btn {
  position: absolute;
  bottom: 2em;
  right: 2em;
  padding: 1.2em;
  color: #ffffff;
  cursor: pointer;
  background-color: #cf2f52;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); }

.c-stepper {
  width: 53.75rem;
  margin: 0 auto; }

.c-stepper__nav {
  background-color: #4794c6; }

.c-stepper__body {
  min-height: 37.5rem;
  width: 100%;
  border: solid 1px #4794c6; }

.vertical-center {
  font-size: 0; }
  .vertical-center:before {
    display: inline-block;
    height: 100%;
    content: "";
    vertical-align: middle; }
  .vertical-center > * {
    font-size: 1rem;
    display: inline-block;
    vertical-align: middle; }

/*
 * Hide visually and from screen readers:
 * http://juicystudio.com/article/screen-readers-display-none.php
 */
.hidden {
  display: none !important;
  visibility: hidden; }

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

/*
 * Hide visually and from screen readers, but maintain layout
 */
.invisible {
  visibility: hidden; }

/**
 * Contain Floats
 */
.clearfix:after {
  content: "";
  display: table;
  clear: both; }

.u-left {
  float: left !important; }

.u-right {
  float: right !important; }

.u-align-left {
  text-align: left !important; }

.u-align-right {
  text-align: right !important; }

.u-align-center {
  text-align: center !important; }

.u-color {
  color: #151515; }

.is-visible {
  visibility: visible !important;
  opacity: 1 !important; }

.is-hidden {
  visibility: hidden !important;
  opacity: 0 !important; }
