// ==========================================================================
// Settings
// ==========================================================================

// Typography
// ==========================================================================

$roboto: "Roboto", sans-serif;
// Base
$font-size: 16px;
$line-height: 1.7;
$font-family: $roboto;
$color: #151515;
// Headings
$heading1: 46px; // .alpha
$heading2: 36px; // .beta
$heading3: 19px; // .gamma
$heading4: 16px; // .delta
$heading5: 13px; // .epsilon
$heading6: 11px; // .zeta
$heading-line-height: 1.2;
// Weights
$light: 300;
$normal: 400;
$medium: 500;
$bold: 700;

// Colors
// ==========================================================================

// Generic
$black: #000000;
$white: #ffffff;
$gray: rgb(233, 238, 242);
$light-grey: rgb(241, 243, 245);
$dark-gray: #c0c0c0;
// Main
$main-color: rgb(71, 148, 198);
$important: rgb(207, 47, 82);
// Specific
$selection: $main-color;
$link: $main-color;
$link-hover: darken($main-color, 10%);

// Spacings
// ==========================================================================
$unit: 60px;
$unit-mobile: 30px;
$gutter: 20px;
$margin: 40px;
$radius: 4px;

// Dimensions
// ==========================================================================

// Container
$max-width: 1560px;
$nav-main-width :350px;
// Header
$header-height: 155px; /** px ou em? **/
$padding: $unit;

//o-button
$o-button-margin:2em;
$o-button-size:4em;
//mobile header
$mobile-header-height: $o-button-size + 2*$o-button-margin;
// Icons 
$icon: 1.2em;
$icon-big: 2.5em;

// Screen widths
// ==========================================================================
$from-tiny: 500px;
$to-tiny: $from-tiny - 1;
$from-small: 700px;
$to-small: $from-small - 1;
$from-medium: 1000px;
$to-medium: $from-medium - 1;
$from-large: 1200px;
$to-large: $from-large - 1;
$from-huge: 1600px;
$to-huge: $from-huge - 1;

// Transitions
// ==========================================================================
$speed: 0.3s;
$speed-slow: ($speed * 2);
$speed-slower: ($speed * 3);
$easing: linear;