// =====================================================
// Main Navigation
// =====================================================

.nav-main {
    width: rem($nav-main-width);
    height: 100vh;
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 1;
    background-color: white; 
    box-shadow: 2px 0px 20px rgba(0, 0, 0, 0.2);
}

.nav-main__header {
    height: $header-height;
}

.nav-main__logo {
    width: auto;
    height: 100%;
    display: block;
    margin: 0 auto;
}

// Items
// ============================================
 
.nav-main__item {
    width: 100%;
    display: block;
    border-top: 1px solid $light-grey;
}

.nav-main__link {
    width: 100%;
    display: block;
    color: $black;
    font-weight: $medium;
    padding: rem(20px) rem(35px);
    transition: background-color 0.2s;
    &:hover {
        color: $black;
        text-decoration: none;
        background-color: $gray;
    }
    @include clearfix();
}

.nav-main__icon {
    margin-right: 15px;
}

.nav-main__indicator {
    float: right;
    &.-none {
        color: $dark-gray;
    }
    &.-new {
        color: $important;
        &::after {
            background-color: $important;
        }
    }
    &::after {
        content: "";
        display: inline-block;
        min-width: 7px;
        min-height: 7px;
        position: relative;
        left: 8px;
        bottom: 2px;
        border-radius: 50%;
    }
}

// Medias
// ============================================

@media screen and (max-width: $to-medium) {
    .nav-main {
        display: none;
    }
}