// =====================================================
// Main Navigation
// =====================================================

.nav-main {
    width: $nav-main-width;
    height: 100vh;
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 1;
    background-color: white; 
    box-shadow: 2px 0px 20px rgba(0, 0, 0, 0.2);
}

.nav-main__header {
    height: $header-height;
}

.nav-main__logo {
    width: auto;
    height: 100%;
    display: block;
    margin: 0 auto;
}

.nav-main__icon {
    font-size: $icon;
    color: black;
}

.nav-main__item {
    border-top: 1px solid var(--light-grey);
}

.nav-main__list {
   display: flex;
   flex-direction: column;
}

.nav-main__item {
    height: 5em;
    display: table-cell;
    vertical-align: middle;
}

.nav-main__link {
    display: flex;
    padding: var(--menu-item-v-padding) 2em;
    transition: background-color 0.2s;
}

.nav-main__link:hover {
    text-decoration: none;
    background-color: var(--grey);
}

.nav-main__label,
.nav-main__indicator,
.nav-main__label:hover,
.nav-main__indicator:hover {
    color: black;
}

.nav-main__label {
    margin-left: 20px;
    flex-grow: 1;
}

.nav-main__label,
.nav-main__indicator {
    font-size: var(--default-font-size);
    font-weight: 500;
}

.nav-main__indicator::after {
    content: "";
    display: inline-block;
    min-width: 7px;
    min-height: 7px;
    position: relative;
    left: 8px;
    bottom: 2px;
    border-radius: 50%;
}

.nav-main__indicator.-none {
    color: #ccc;
}

.nav-main__indicator.-new {
    color: var(--important);
}

.nav-main__indicator.-new::after {
    background-color: var(--important);
}

@media screen and (max-width: 1080px) {
    .nav {
        display: none;
    }
}