// ==========================================================================
// Fonts
// ==========================================================================

.c-stepper {
  width: rem(860px);
  margin: 0 auto;
}

.c-stepper__nav {
  background-color: $main-color;
}

.c-stepper__body {
  min-height: rem(600px);
  width: 100%;
  border: solid 1px $main-color;
}
