// ==========================================================================
// Button
// ==========================================================================

.o-button {
    width: $o-button-size;
    height: $o-button-size;
    border: none;
    border-radius: 50%;
    color: $black;
    background-color: $white;
}