// ==========================================================================
// Button
// ==========================================================================

.o-button {
    width: 4em;
    height: 4em;
    border: none;
    border-radius: 50%;
    color: $black;
    background-color: $white;
}