/*=====================================================
 * Cases Header
 *=====================================================*/

.cases-header {
    height: var(--header-height);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 8em;
    background-color: white;
}

.cases-header__icon {
    width: 25px;
}

.cases-header__title {
    
}

.cases-header__my-cases {

}

@media screen and (max-width: 1080px) {
    .cases-header {
        height: 6em;
        padding: 0 3em;
    }
}