/*=====================================================
 * Main Navigation
 *=====================================================*/

 .nav {
    width: var(--nav-width);
    height: 100vh;
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 1;
    background-color: white; 
    box-shadow: 2px 0px 20px rgba(0, 0, 0, 0.2);
}

.nav__header {
    height: var(--header-height);
}

.nav__logo {
    width: auto;
    height: 100%;
    display: block;
    margin: 0 auto;
}

.nav__icon {
    width: var(--default-font-size);
    color: black;
}

.nav__item {
    border-top: 1px solid var(--light-grey);
}

.nav__link {
    display: flex;
    padding: var(--menu-item-v-padding) 2em;
    transition: background-color 0.2s;
}

.nav__link:hover {
    text-decoration: none;
    background-color: var(--grey);
}

.nav__label,
.nav__indicator,
.nav__label:hover,
.nav__indicator:hover {
    color: black;
}

.nav__label {
    margin-left: 20px;
    flex-grow: 1;
}

.nav__label,
.nav__indicator {
    font-size: var(--default-font-size);
    font-weight: 500;
}

.nav__indicator::after {
    content: "";
    display: inline-block;
    min-width: 7px;
    min-height: 7px;
    position: relative;
    left: 8px;
    bottom: 2px;
    border-radius: 50%;
}

.nav__indicator.-none {
    color: #ccc;
}

.nav__indicator.-new {
    color: var(--important);
}

.nav__indicator.-new::after {
    background-color: var(--important);
}

@media screen and (max-width: 1080px) {
    .nav {
        display: none;
    }
}