/*=====================================================
 * Stepper
 *=====================================================*/

 .stepper {
    height: calc(100vh - var(--header-height));
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

.stepper__nav__list {
    width: 100%;
    position: relative;
    white-space: nowrap;
    font-size: 0;
}

.stepper__nav__item {
    display: inline-block; 
    width: 17.64705882352941%;
    font-size: 1rem;
}

.stepper__nav__link {
    display: block;
    padding: var(--menu-item-v-padding) 0;
    text-align: center;
    color: black;
    font-size: var(--default-font-size);
    border-top: 1px solid var(--light-grey);
    border-right: 2px solid white;
}

.stepper__nav__link:hover {
    text-decoration: none;
}

.stepper__nav__link.-disable,
.stepper__nav__link.-disable:hover {
    cursor: default;
    color: var(--dark-grey);
    background-color: var(--grey);
}

.stepper__nav__link.-actif,
.stepper__nav__link.-actif:hover {
    color: black;
    background-color: white;
    cursor: default;
}

.stepper__nav__link.-new {
    color: white;
    background-color: var(--main-color);
}