/*=====================================================
 * Stepper Slider
 *=====================================================*/

 .stepper__slider {
    position: relative;
}

.stepper__slider__preview-previous,
.stepper__slider__preview-next {
    width: 11.76470588235294%;
    position: absolute;
    z-index: 2;
    padding: var(--menu-item-v-padding) 0;
    font-size:  var(--default-font-size);
    color: transparent;
}

.stepper__slider__preview-next {
    right: 0;
}

.stepper__slider__content {
    transform: translateX(0%);
}
